/*CSS Styles*/
/* Calculator Container */
.calculator-container {
  height: 100vh;
  display: grid;
  place-content: center;
}

/* Calculator Body */
.calculator-body {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "delete display display display"
    "clear bracket percent divide"
    "seven eight nine multiply"
    "four five six subtract"
    "one two three add"
    "zero zero decimal equals";
  width: 500px;
  height: 750px;
}

.display {
  grid-column: 2 / 5;
  place-self: end;
}
