/*CSS Styles*/
body {
  background-color: #000000;
  font-family: "Roboto", sans-serif;
}

/* Calculator Container */
.calculator-container {
  height: 100vh;
  display: grid;
  place-content: center;
}

/* Calculator Buttons */
button {
  background-color: #202125;
  color: #e9eaee;
  font-size: 24px;
  border: none;
}

button:active {
  opacity: 75%;
}

.operator {
  color: #86b4f7;
}

/* Calculator Body Positioning */
.calculator-body {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "delete display display display"
    "clear bracket percent divide"
    "seven eight nine multiply"
    "four five six subtract"
    "one two three add"
    "zero zero decimal equals";
  width: 500px;
  height: 750px;
}

.display {
  grid-column: 2 / 5;
  place-self: stretch;
  background-color: #2c3033;
  color: #e9eaee;
  display: flex; /* Positions the Numbers */
  align-items: center;
  justify-content: end;
  padding: 20px;
  font-size: 72px;
}

.zero {
  grid-column: 1 / 3;
}

.decimal {
  grid-column: 3 / 4;
}

.equals {
  grid-column: 4 / 5;
}
